<div class ="title" id="title">
<h1>Employee Index</h1>
</div>


<% for employee in @employees %>
<div class="grid" id="col-1-3_1">
<div class="col-1-3">
<p>Employee ID:  <a href="/employees/<%=  employee.id %>"><%= employee.id %></a></p>
</br>
<p>Employee Name:  <a href="/employees/<%= employee.id %>"><%= employee.name %></a></p>
</div>
<div class="col-2-3">
<img id="employee_index_image" src="<%= employee.image %>" height="300" width="300">
</div>
<% end %>
</br>









