
<div class ="title" id="title">
<h1><%= @employee.name %></h1>
</div>


<div class="grid" id="col-1-3_1">
<div class="col-1-3_e_show">
<p>Employee ID:  <%= @employee.id %></p>
</br>
<p>Employee Name:  <%= @employee.name %></p>
</br>
<p>Employee Bio:  <%= @employee.bio %></p>
</br>
<p>Employee Start Date:  <%= @employee.start_date %></p>
</br>
<p>Number of upcoming shifts:  <%= @employee.employee_shifts %></p>
</div>
<div class="col-2-3_e_show">
<img id="employee_index_image" src="<%= @employee.image %>" height="400" width="400">
</br>
</br>
<form action="/employees/<%= @employee.id %>/edit" method="get">
  <input type="hidden" name="_method" value="edit">
  <input type="submit" value="edit employee">
</form>

<form action="/employees/<%= @employee.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete employee">
</form>
</div>
</br>
</div>












