<div class ="title" id="title">
<h1>Employee Upcoming Shifts</h1>
</div>

<div class ="title" id="title">
<h1>Click on a shift to edit</h1>
</div>


<% for shift in @shifts %>
<% if shift.employee_id == @employee.id %>
<div class="grid" id="col-1-3_e_show">
<div class="col-1-3_e_show">
<p>Shift ID:  <a href="/shifts/<%= shift.id %>"><%= shift.id %></a></p>
<p>Employee:  <a href="/shifts/<%= shift.id %>"><%= shift.employee.name %></a></p>
<p>Client:  <a href="/shifts/<%= shift.id %>"><%= shift.client.name %></a></p>
<p>Date of Shift:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_date %></a></p>
<p>Time of Shift:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_time %></a></p>
<p>Status:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_status %></a></p>
</div>

<div class="col-2-3">
<img id="employee_index_image" src="<%= shift.client.image %>" height="300" width="300">
</div>
<% end %>
<% end %>
</div>
</br>








