<div class ="title" id="title">
<h1>Shift Index</h1>
</div>

<div class ="title" id="title">
<h1>Click on a shift to edit</h1>
</div>


<% for shift in @shifts %>
<div class="grid" id="col-1-3_e_show">
<div class="col-1-3_e_show">
<p>Shift ID:  <a href="/shifts/<%= shift.id %>"><%= shift.id %></a></p>
<p>Employee:  <a href="/shifts/<%= shift.id %>"><%= shift.employee.name %></a></p>
<p>Client:  <a href="/shifts/<%= shift.id %>"><%= shift.client.name %></a></p>
<p>Date of Shift:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_date %></a></p>
<p>Time of Shift:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_time %></a></p>
<p>Status:  <a href="/shifts/<%= shift.id %>"><%= shift.shift_status %></a></p>
</div>

<div class="shift_index">
<% if shift.shift_status == "available" %>
<img class="shift_index_available" src="<%= shift.client.image %>" height="300" width="300">
<% else %>
<img class="shift_index_taken" src="<%= shift.client.image %>" height="300" width="300">
<% end %>
</div>
<% end %>
</div>
</br>








