<div class ="title" id="title">
<h1>Edit Shift</h1>
</div>



<div class="grid" id="col-1-3_e_show">
<div class="col-1-3_e_show">
<p>Shift ID:  <a href="<%= @shift.id %>/edit"><%= @shift.id %></a></p>
<p>Employee:  <a href="<%= @shift.id %>/edit"><%= @shift.employee.name %></a></p>
<p>Client:  <a href="<%= @shift.id %>/edit"><%= @shift.client.name %></a></p>
<p>Date of Shift:  <a href="<%= @shift.id %>/edit"><%= @shift.shift_date %></a></p>
<p>Time of Shift:  <a href="<%= @shift.id %>/edit"><%= @shift.shift_time %></a></p>
<p>Status:  <a href="<%= @shift.id %>/edit"><%= @shift.shift_status %></a></p>
<p>To volunteer for shift, or remove yourself from the shift click edit under the picture of any of the details above.</p>
</div>

<div class="col-2-3">
<img id="employee_index_image" src="<%= @shift.client.image %>" height="300" width="300">
</br>

<form action="/shifts/<%= @shift.id %>/edit" method="get">
  <input type="hidden" name="_method" value="edit">
  <input type="submit" value="edit shift">
</form>

<form action="/shifts/<%= @shift.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete shift">
</form>

</div>
</div>
</br>





